html {
	background: url('img/bikebkrd.jpg') no-repeat;
	background-size: cover;
	background-position: top, bottom;
	line-height: 1.3;
}
 
html,body {
	 min-height: 100%;
}

body, select, input {
	font-family: Georgia, Arial;
}

#main-content{
	padding: 30px;
	border: black;
	border-width: 1px;
	margin-left: 8%;
	margin-top: 5%;
	margin-bottom: 10%;
	width: 640px;
	background-color: #FFFFBD;
}

#main-content  select, input{
	color: #E60000;
	background-color: #FFDB4D;
	border-color: black;
}

select {
	font-size: 17;
}

#main-content input{
	border-style: solid;
	font-size: 29;
	border-width: 0.5px;
	cursor: pointer;
	font-weight: bold;
	border-width: 2px;
}

.choosing {
	font-size: 18;
}

.key-stats, .google-stats{
	color: red;
	background-color: #FFDB4D;
}

.key-stats, .choosing {
	font-weight: bold;
}

ul li{
	margin-top: 0;
	margin-bottom: 0;
}

#intro, #update, #credit{
	width: 450px;
}

#update{
	font-size: 14px;
}

#explain{
	width: 640px;
}

#asterisk, #credit{
	font-style: italic;
}

#credit {
	font-size: 12px;
}

a:link, a:visited, a:hover, a:active{
	color: black;
}

a:hover {
	text-decoration: none;
}

#timertitle a{
	text-decoration: none;
}

.bar {
  fill: #E60000;
}

.bar:hover {
	fill:#E60000;
	opacity:.8;
}

.axis, .bar {
	font: 10px sans-serif;
}

.bar {
	font-size:.5em;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.tick line {
	stroke-dasharray: 1, 8;
	stroke: black;
}

.x.axis line {
	stroke-dasharray: 0;
	stroke-width: 1px;
}

.bar text{
	visibility:hidden;
	fill-opacity:1;
	font-size:1.2em;
}

.bar:hover text{
  fill: #E60000;
  visibility:visible;
}

.axis-label{
font: 10px sans-serif;
}